[submodule "NucleantApplication"]
	path = NucleantApplication
	url = https://github.com/NucleantUI/NucleantApplication.git
[submodule "NucleantSkia"]
	path = NucleantSkia
	url = https://github.com/NucleantUI/NucleantSkia.git
[submodule "NucleantThorVG"]
	path = NucleantThorVG
	url = https://github.com/NucleantUI/NucleantThorVG.git
[submodule "NucleantUI"]
	path = NucleantUI
	url = https://github.com/NucleantUI/NucleantUI.git
[submodule "NucleantVulkan"]
	path = NucleantVulkan
	url = https://github.com/NucleantUI/NucleantVulkan.git
[submodule "PyShader"]
	path = PyShader
	url = https://github.com/NucleantUI/PyShader
[submodule "NucleantCEF"]
	path = NucleantCEF
	url = https://github.com/NucleantUI/NucleantCEF
[submodule "NucleantMonaco"]
	path = NucleantMonaco
	url = https://github.com/NucleantUI/NucleantMonaco
